{% extends 'employer_app/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="#">Название сайта!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'main_page'%}">Главная страница</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" aria-current="page" href="{% url 'all_vacancy' %}">Вакансии<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Резюме</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <form action="" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           name="search-area">
                    <button class="btn btn-outline-success" type="submit" name="Search">Search</button>
                </form>
            </form>
        </div>
    </nav>
    {% endif %}

    {% for foto in list_vacancy %}
    <tr>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{foto.user}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{foto.title|truncatechars:500}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Зарплата: {{foto.salary}}$</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ foto.work_experience|truncatechars:500 }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ foto.skills|truncatechars:40 }}</h6>
                <p class="card-text">

                </p>
                <p class="card-text">

                </p>
                <a href="#!" class="card-link">Card link</a>
                <a href="#!" class="card-link">Another link</a>
            </div>
        </div>
    </tr>
    <tr>
    </tr>
    {% empty %}
    <h3> No post any user, create your!!!</h3>
    {% endfor %}
</div>
{% endblock content %}