{% extends 'employer_app/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="    --bs-bg-opacity: 0; padding:20px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{ request.user }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'main_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'vacancy_create' %}">создать
                            вакансию</a>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <form action="" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                               name="search-area">
                        <button class="btn btn-outline-success" type="submit" name="Search">Search</button>
                    </form>
                </form>
            </div>
        </div>
    </nav>
    {% for foto in list_vacancy %}
    <tr>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{foto.user}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{foto.title|truncatechars:500}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Зарплата: {{foto.salary}}$</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ foto.work_experience|truncatechars:500 }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ foto.skills|truncatechars:40 }}</h6>
                <p class="card-text">

                </p>
                <p class="card-text">

                </p>
                <a href="#!" class="card-link">Card link</a>
                <a href="#!" class="card-link">Another link</a>
            </div>
        </div>
    </tr>
    <tr>
    </tr>
    {% empty %}
    <h3> No post any user, create your!!!</h3>
    {% endfor %}
</div>
{% endblock content %}